@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

html, body {
  font-family: 'Archivo Narrow', sans-serif;
  background-color: #EEEEEF;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-body {
  padding-top: 2%;
  width: 70%;
  margin: 0 auto;
}


/*****    START OF NAV    *****/
#nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

#nav-ul > li {
  list-style: none;
  font-size: 1.2em;
}

#nav-ul > li > a {
  text-decoration: none;
  padding: 20px 50px;
  color: black;
}

#nav-ul > li:hover > a {
  color: gray;
}
/*****    END OF NAV    *****/
/*****    START OF HOMEPAGE    *****/
#heading {
  text-align: center;
}

.home-body {
  font-family: Staatliches, sans-serif;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  width: 90%;
  font-size: 2.5em;
  text-align: center;
}

.home-body > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5%;
}

.home-body > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

#right-dashboard {
  flex: 0.5;
}

#dashboard-item-1 {
  flex: 1;
  width: 100%;
  height: 600px;
  background-color: #1F271B;
}

#dashboard-item-2 {
  width: 100%;
  height: 300px;
  background-color: #0B4F6C;
}

#dashboard-item-3 {
  width: 100%;
  height: 300px;
  background-color: #145C9E;
}

#dashboard-item-1 > a, #dashboard-item-2 > a, #dashboard-item-3 > a {
  text-decoration: none;
  color: white;
}

#dashboard-item-1, #dashboard-item-2, #dashboard-item-3 {
  transition: all .3s ease-in-out;
}

#dashboard-item-1:hover, #dashboard-item-2:hover, #dashboard-item-3:hover {
  transform: scale(1.01);
  filter: brightness(110%);
}
/*****    END OF HOMEPAGE    *****/
/*****    START OF COHORTS   *****/
#add-cohort {
  text-align: center;
}

#add-cohort > button {
  padding: 10px;
  width: 200px;
  background-color: #1F271B;
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

#add-cohort > button:focus {
    outline: none;
    border: none;
}

.all-cohorts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.single-cohort {
  background-image: linear-gradient(#0581b7, #0B4F6C);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .5);
  text-align: center;
  width: 300px;
  margin: 1%;
  user-select: none;
  transition: all .3s ease-in-out;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
}
.single-cohort:after {
  display:block;
  content: '';
  border-bottom: solid 3px #9cc1fc;  
  transform: scaleX(0);  
  transition: transform 200ms ease-in-out;
}
.single-cohort:hover:after { transform: scaleX(1); }
.single-cohort.fromRight:after{ transform-origin:100% 50%; }
.single-cohort.fromLeft:after{  transform-origin:  0% 50%; }

.single-cohort:active {
  background-color: #06374c;
}
/* Reset Select */
.cohort-filter > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #0B4F6C;
  background-image: none;
}
/* Custom Select */
.cohort-filter {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 16em;
  height: 3em;
  line-height: 3;
  background: #0B4F6C;
  overflow: hidden;
  border-radius: .25em;
}
.cohort-filter > select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
.cohort-filter > select::-ms-expand {
  display: none;
}
/* Arrow */
.cohort-filter::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #036996;
  pointer-events: none;
}
/* Transition */
.cohort-filter:hover::after {
  color: #f39c12;
}
.cohort-filter::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/*****    END OF COHORTS    *****/
/*****   START OF TRAINEES  *****/



/*****    END OF TRAINEES   *****/
/*****   START OF ACCOUNT   *****/



/*****    END OF ACCOUNT   *****/