@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

html, body {
  font-family: 'Archivo Narrow', sans-serif;
  background-color: #EEEEEF;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-body {
  padding-top: 2%;
  width: 70%;
  margin: 0 auto;
}


/*****    START OF NAV    *****/
#nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

#nav-ul > li {
  list-style: none;
  font-size: 1.2em;
}

#nav-ul > li > a {
  text-decoration: none;
  padding: 20px 50px;
  color: black;
}

#nav-ul > li:hover > a {
  color: gray;
}
/*****    END OF NAV    *****/
/*****    START OF HOMEPAGE    *****/
#heading {
  text-align: center;
}

.home-body {
  font-family: Staatliches, sans-serif;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  width: 90%;
  font-size: 2.5em;
  text-align: center;
}

.home-body > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5%;
}

.home-body > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

#right-dashboard {
  flex: 0.5;
}

#dashboard-item-1 {
  flex: 1;
  width: 100%;
  height: 600px;
  background-color: #1F271B;
}

#dashboard-item-2 {
  width: 100%;
  height: 300px;
  background-color: #0B4F6C;
}

#dashboard-item-2-not-logged {
  width: 100%;
  height: 600px;
  background-color: #0B4F6C;
}

#dashboard-item-3 {
  width: 100%;
  height: 300px;
  background-color: #145C9E;
}

#dashboard-item-1 > a, #dashboard-item-2 > a, #dashboard-item-3 > a, #dashboard-item-2-not-logged > a {
  text-decoration: none;
  color: white;
}

#dashboard-item-1, #dashboard-item-2, #dashboard-item-3, #dashboard-item-2-not-logged {
  transition: all .3s ease-in-out;
}

#dashboard-item-1:hover, #dashboard-item-2:hover, #dashboard-item-3:hover, #dashboard-item-2-not-logged:hover {
  transform: scale(1.01);
  filter: brightness(110%);
}
/*****    END OF HOMEPAGE    *****/
/*****    START OF COHORTS   *****/
#add-cohort {
  text-align: center;
}

#add-cohort > button {
  padding: 10px;
  width: 200px;
  background-color: #0D2737;
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

#add-cohort > button:focus {
    outline: none;
    border: none;
}

#add-cohort > button > a {
  text-decoration: none;
  color: white;
}

.all-cohorts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.single-cohort {
  background-image: linear-gradient(#244769, #0D2737);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .5);
  text-align: center;
  width: 300px;
  margin: 1%;
  user-select: none;
  transition: all .3s ease-in-out;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
}
.single-cohort:after {
  display:block;
  content: '';
  border-bottom: solid 3px grey;  
  transform: scaleX(0);  
  transition: transform 200ms ease-in-out;
}
.single-cohort:hover:after { transform: scaleX(1); }
.single-cohort.fromRight:after{ transform-origin:100% 50%; }
.single-cohort.fromLeft:after{  transform-origin:  0% 50%; }

.single-cohort:active {
  background-color: #404040;
}
.single-cohort > a {
  text-decoration: none;
  color: white;
}
/* Reset Select */
.cohort-filter > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #244769;
  background-image: none;
}
/* Custom Select */
.cohort-filter {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 16em;
  height: 3em;
  line-height: 3;
  background: #1F271B;
  overflow: hidden;
  border-radius: .25em;
}
.cohort-filter > select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
.cohort-filter > select::-ms-expand {
  display: none;
}
/* Arrow */
.cohort-filter::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #0D2737;
  pointer-events: none;
}
/* Transition */
.cohort-filter:hover::after {
  color: white;
}
.cohort-filter::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
/*****    END OF COHORTS    *****/
/*****   START OF TRAINEES  *****/
.trainees-body {
  display: flex;
  justify-content: center;
  /*background-color: white;*/
  border-radius: 25px;
}

.trainees-body > div {
}

#cohort-number {
  width: 50px;
}

.unassigned-trainees, .assigned-trainees {
  font-size: 1.4em;
  width: 100%;
  text-align: center;
  padding-bottom: 10%;
  border-left: 1px solid rgba(31,39,27,0.3);
}

.unassigned-trainees {
  background: #0B4F6C;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 10px;
  color: white;
}

.assigned-trainees {
  background: #145C9E;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 10px;
  color: white;
}


.unassigned-trainees > ul, .assigned-trainees > ul {
  display: flex;
  justify-content: center;
  /*align-items: baseline;*/
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 0 0 0;
  list-style: none;
  color: black;
}

.unassigned-trainees > ul > li, .assigned-trainees > ul > li {
  margin: 0 0 5px 2px;
  border-right-width: 0 !important;
  font-size: 0.9em;
  padding: 2px;
  width: 100px;
  text-align: center;
  background-color: #fff;
  user-select: none;
}
.unassigned-trainees > ul > span, .assigned-trainees > ul > span {
  margin-right: 5px;
  height: 31px;
  width: 15px;
  text-align: center;
  background-color: #fff;
  color: white;
  cursor: pointer;
}
.unassigned-trainees > ul > span {
  background-color: green;
}
.assigned-trainees > ul > span {
  background-color: red;
}
#unassigned-trainee {
  font-size: 1.1em;
  min-width: 20%;
  width: auto;
}
#cohort-number {
  width: 60%;
  font-size: 1.1em;
}
/*****    END OF TRAINEES   *****/
/*****   START OF ACCOUNT   *****/



/*****    END OF ACCOUNT   *****/
/*****    START OF REGISTER/LOGIN   *****/
/* Style inputs, select elements and textareas */
input[type=password], input[type=email], input[type=text], input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
#register-button, #login-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#login-and-error {
  margin-top: 10px;
  text-align: center;
}
/* Style the container */
.container {
  margin: 0 auto;
  width: 60%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.good-response {
  color: green;
}

.bad-response {
  color: red;
}
/*****    END OF REGISTER/LOGIN   *****/
/*****   START OF FORM   *****/
.slider1, .slider2, .slider3 {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: red;
  cursor: pointer;
}

.slider1::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: orange;
  cursor: pointer;
}

.slider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
}

.slider3::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider3::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#heading-form {
  text-align: center;
  margin-bottom: 0;
}
#feedback-form-body {
  text-align: center;
}

textarea {
  width: 80%;
  height: 100px;
}

/*****   END OF LOGIN   *****/
/*****   START OF SINGLE COHORT/TRAINEE   *****/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.button {
  font-size: 0.9em;
  background-color: green;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
}

.button:focus,
.button:hover {
  background-color: FireBrick;
  color: White;
}
/*****   END OF SINGLE COHORT   *****/

